<div class="container">
  <h2>Lista de Documentos</h2>

  <div class="action-buttons mb-3">
    <button class="btn btn-success" routerLink="/create-document">Criar Documento</button>
  </div>

  <div *ngIf="documents.length === 0">
    <p>Nenhum documento encontrado.</p>
  </div>

  <table class="table" *ngIf="documents.length > 0">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do Documento</th>
        <th>Data de Criação</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let document of documents; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ document.name }}</td>
        <td>{{ document.created_at | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div class="action-buttons">
            <button class="btn btn-primary action-btn" (click)="viewDetails(document.id)">Ver Detalhes</button>
            <button class="btn btn-danger action-btn" (click)="deleteDocument(document.id)">Excluir</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
